<h1 class="text-center"><%= @group.title %></h1>
<h6 class="text-center">Created by <%= @user.username%></h6>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      Bio: <%= @group.bio %>
    </div>

    <div class="col">
      <h6>Members:</h6>
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%if @group.user != nil %>
            <% @group.user.each do |user| %>
              <tr>

                <td><%= user.username %></td>
                <td><%= link_to 'show', user_path(user)%></td>
                <td><%= link_to 'kick', user_path(user)%></td>

              </tr>
            <% end %>
          <% end %>

        </tbody>
      </table>
      <%if @group.user_id == session[:user_id] %>
        <h6><%= link_to 'Invite new members!', root_path %></h6>
      <% end %>
    </div>
  </div>
</div>
