<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <% if @user.errors.any? %>
        <h2>The following errors prevented the user from being created</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>


      <% end %>

      <%= form_with(model: @user, local: true )  do |f| %>
        <p>
          <%= f.label :username %> <br>
          <%= f.text_field :username %>
        </p>
        <p>
          <%= f.label :email %> <br>
          <%= f.email_field :email %>
        </p>
        <p>
          <% if @user.new_record? %>
            <%= f.label :password %> <br>
            <%= f.password_field :password %>
          <% else %>
            <%= link_to 'Update Password', updatepassword_path(:user => { :user_id => @user.id}) , class: "btn btn-danger" %>

          <% end %>
        </p>
        <p>
          <%= f.submit(@user.new_record? ? "Sign up" : "Update Account")  %>
        </p>
      <% end %>

    </div>

  </div>

</div>
