<div class="container">
  <div class="row justify-content-center">
    <div class="col-10" >
    <h1>Editing <%= @user.username %>'s profile</h1>

    <%= form_with(model: @user, local: true )  do |f| %>
      <p>
        <%= f.label :current_password %> <br>
        <%= f.text_field :username %>
      </p>
      <p>
        <%= f.label :new_password %> <br>
        <%= f.text_field :username %>
      </p>

    <% end %>

    <%= link_to 'Update Password', @user, class:"btn btn-success" %>

    <br>

    <%= link_to 'Cancel and go back', @user, class:"btn btn-dark" %>

    </div>

  </div>

</div>
